doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Ballons
        link(rel="stylesheet", href="css/style.css")
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    body
        .container
            header.header
                img(src="../img/logo.svg", alt="Логотип").logo
                .header__wrapper
                    h1.header__title.title
                        span.title__first-part Туры на воздушном шаре
                        span.title__second-part незабываемое приключение ждет вас
                    button.header__button.button
                        .button__text Наш каталог