doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Полетать на воздушном шаре
        meta(name="description" content="Компания организует незабываемые путешествия на воздушном шаре")
        link(rel="stylesheet", href="css/style.css")
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    body
        .container
            header.header
                img.logo(src="img/logo.svg", alt="Логотип")
                .header__wrapper
                    h1.header__title.title-h1
                        span.title-h1__first-part Туры на воздушном шаре
                        span.title-h1__second-part незабываемое приключение ждет вас
                    a.header__button.button.button_animated(href="#") Наш каталог
            main
                section.first-section
                    h2.first-section__title.title-h2.title-h2_gradientary Невероятное ощущение свободы
                    .first-section__wrapper
                        .first-section__left-container
                            .first-section__description.description
                                h3.description__title Позвольте себе приключение
                                p.description__text Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрениям и модернизации соответствующий условий активизации. Таким образом начало повседневной работы по формированию позиции влечет.
                            .first-section__description.description
                                h3.description__title Вверх на 6000 метров над уровнем моря
                                p.description__text Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрениям и модернизации соответствующий условий активизации. Таким образом начало повседневной работы по формированию позиции влечет.
                        .first-section__right-container
                            img.first-section__img.first-section__img_top(src="img/Balloons_1.jpg", title="Воздушные шары", alt="Воздушные шары")
                            img.first-section__img.first-section__img_right(src="img/Balloons_2.jpg", title="Воздушные шары", alt="Воздушные шары")
                            img.first-section__img.first-section__img_bottom(src="img/Balloons_3.jpg", title="Воздушные шары", alt="Воздушные шары")
                    a.first-section__button.button-rectangle(href="#") Узнать больше &rarr;
                section.second-section
                    .second-section__wrapper
                        .second-section__card.card-s2
                            <!-- Поменять на иконочные шрифты -->
                            img.card-s2__icon(src="img/card-s2__icon1.svg", alt="Глобус")
                            .card-s2__description.description
                                h3.description__title.text-align-center Приключение
                                p.description__text Задача организации, в особенности же дальнейшее развитие различных в особенности же развитие различных
                        .second-section__card.card-s2
                            <!-- Поменять на иконочные шрифты -->
                            img.card-s2__icon(src="img/card-s2__icon2.svg", alt="Локация")
                            .card-s2__description.description
                                h3.description__title.text-align-center Приключение
                                p.description__text Задача организации, в особенности же дальнейшее развитие различных в особенности же развитие различных
                        .second-section__card.card-s2
                            <!-- Поменять на иконочные шрифты -->
                            img.card-s2__icon(src="img/card-s2__icon3.svg", alt="Компас")
                            .card-s2__description.description
                                h3.description__title.text-align-center Приключение
                                p.description__text Задача организации, в особенности же дальнейшее развитие различных в особенности же развитие различных
                        .second-section__card.card-s2
                            <!-- Поменять на иконочные шрифты -->
                            img.card-s2__icon(src="img/card-s2__icon4.svg", alt="Указатель")
                            .card-s2__description.description
                                h3.description__title.text-align-center Приключение
                                p.description__text Задача организации, в особенности же дальнейшее развитие различных в особенности же развитие различных
                section.third-section
                    h2.third-section__title.title-h2.title-h2_gradientary Наиболее популярные туры
                    .third-section__wrapper
                        .third-section__card.card-s3
                            .card-s3__side.card-s3__side_front
                                .card-s3__image-wrapper.card-s3__image-wrapper_img-one
                                h4.card-s3__title
                                ul.card-s3__text-wrapper
                                    li.card-s3__text-item.text-align-center Группы от 6 человек
                                    li.card-s3__text-item.text-align-center Продолжительность 2 час
                                    li.card-s3__text-item.text-align-center В группе 1 гид
                                    li.card-s3__text-item.text-align-center Дальность полета 6км
                                    li.card-s3__text-item.text-align-center Бесплатные сувениры
                            .card-s3__side.card-s3__side_back
                        .third-section__card.card-s3
                            .card-s3__side.card-s3__side_front
                                .card-s3__image-wrapper.card-s3__image-wrapper_img-two
                                h4.card-s3__title
                                ul.card-s3__text-wrapper
                                    li.card-s3__text-item.text-align-center Группы от 6 человек
                                    li.card-s3__text-item.text-align-center Продолжительность 2 час
                                    li.card-s3__text-item.text-align-center В группе 1 гид
                                    li.card-s3__text-item.text-align-center Дальность полета 6км
                                    li.card-s3__text-item.text-align-center Бесплатные сувениры
                            .card-s3__side.card-s3__side_back
                        .third-section__card.card-s3
                            .card-s3__side.card-s3__side_front
                                .card-s3__image-wrapper.card-s3__image-wrapper_img-three
                                h4.card-s3__title
                                ul.card-s3__text-wrapper
                                    li.card-s3__text-item.text-align-center Группы от 6 человек
                                    li.card-s3__text-item.text-align-center Продолжительность 2 час
                                    li.card-s3__text-item.text-align-center В группе 1 гид
                                    li.card-s3__text-item.text-align-center Дальность полета 6км
                                    li.card-s3__text-item.text-align-center Бесплатные сувениры
                            .card-s3__side.card-s3__side_back
                    a.third-section__button.button.button_animated(href="#") Забронировать